 <div class="row">
      {% assign blocks = section.blocks | where: 'type', 'product' %}
          {% for block in blocks %}
            {% assign productvariants = block.settings.product.variants %}
            {% for productvariant in productvariants %}
            {% if productvariant.option1 == "Yellow Gold" %}
              <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <a class="coll-box style2" href="{{ productvariant.url }}">
                  {% if productvariant.image.src %}
                    <img src="{{ productvariant.image.src | img_url: 'master' }}" alt="{{ productvariant.title }}">
                  {% endif %}
                  <div class="coll-box-text style2">
                    <h3>{{ block.settings.product.title }} · {{ productvariant.option1 }}</h3>
                    <p>{{ productvariant.price | money }}</p>
                  </div>
                </a>
              </div>
            {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Home Closet",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Headding"
    },
    {
        "type": "richtext",
        "id": "text1",
        "label": "Text",
    },
    {
      "type": "image_picker",
      "id": "Image",
      "label": "closet Image"
    },
    {
      "type": "url",
      "id": "image-link",
      "label": "Image Link"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product",
        }
      ]
    }
  ],
  "presets": [
    {"name": "Home2 Closet"}
  ]
}
{% endschema %}
